---
const path = Astro.url.pathname;           // 例: /en/blog/xxx/
const isEn = path.startsWith('/en');
const prefix = isEn ? '/en' : '';
---

<ul class="nav-list">
  <li><a href={`${prefix}/`}>Home</a></li>
  <li><a href={`${prefix}/about`}>About</a></li>
  <li><a href={`${prefix}/blog`}>Blog</a></li>
  <li><a href={`${prefix}/tags/`}>Tags</a></li>
</ul>
